<div class="container">
<div class= "row">
<div class= "col-md-8">
<div class="title">
<p> Sobre nosotros </p>
</div>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Fusce pharetra est bibendum, pretium ipsum sed, faucibus orci.
 Ut tempus aliquet feugiat. In in eleifend erat, sed bibendum tellus.
 Nullam est velit, hendrerit quis nulla sed, iaculis tempor odio. 
 Vivamus non ipsum suscipit, suscipit leo vel, porttitor quam. 
 Pellentesque in quam lacinia, aliquam augue vestibulum, fringilla elit.
 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 </div>
 <div class="col-md-3">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 Fusce pharetra est bibendum, pretium ipsum sed, faucibus orci. Ut tempus aliquet feugiat.
 In in eleifend erat, sed bibendum tellus. Nullam est velit, hendrerit quis nulla sed,
 iaculis tempor odio. Vivamus non ipsum suscipit, suscipit leo vel, porttitor quam. 
 Pellentesque in quam lacinia, aliquam augue vestibulum, fringilla elit.
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
 </div>





</div>
 </div>
    


