
    <div class= "row">
        <div class= "col-md-8"
            <div class="jumbotron">
            <h1 class="display-4">Hola a todos y todas</h1>
            <p class="lead">Bienvenidxs a wikistreet, que aunque suene elegante, es bien piante.</p>
            <hr class="my-4">
            <p>La idea es compartir nuestros lugares favoritos, nuestras picadas, los espacios más pintorescos de nuestras ciudades y aquellos donde se pueda disfrutar de experiencias nuevas.</p>
            <a class="btn btn-primary btn-lg" href= "<%= pins_path %>"role="button">Llévame, PORFA!</a>
            </div>
        </div>
        <div class= "col-md-3"
            <div class="card">
            <div class="card-body">
            Biografía del ilustre autor, al volver del corte comercial.
            </div>
            </div>
        </div>
    </div>


