.row{
    color: #0E0D25;
    background: #c3c3c3;
    margin: 30px;
    border-radius: 30px;
    padding: 30px;
    float: left;
}

.col-md-8{
    background: gray;
    border-radius: 30px;
    padding: 30px;


}
