// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-8{
    font-family: sans-serif;
    background: #37364E;
    color: #dddddd;
    padding: 50px;
    float:left;
    width: 500px;
  
}

.btn{
    background: #dddddd;
    color: #37364E;
}

